@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
    height: 100%;
}

body {
    background-color: #FF0075;
}

body {
    font-family: 'Fredoka One', sans-serif;
}

button {
    border: none;
    padding: 0.5em 1em;
    background-color: EEEEEE;
    border-radius: 1em;
    font-weight: bold;
    color: #313552;
}

button:hover {
    cursor: pointer;
    color: white;
    background-color: #313552;
}

.material-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}